apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: rest-jscreditscore-ing
  annotations:
    kubernetes.io/ingress.class: traefik
  namespace: creditscore
spec:
  rules:
  - host: creditscore.jeejeejango.com
    http:
      paths:
      - path: /
        backend:
          serviceName: rest-jscreditscore-svc
          servicePort: http
